.TextAnalyserCounter-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 8px;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.TextAnalyserCounter-row {
    flex-wrap: wrap;
    display: flex;
    padding: 16px;
}

.TextAnalyserCounter-column {
    padding: 16px;
    min-width: 150px;
    margin-right: auto;
}

.TextAnalyserCounter-headline {
    color: grey;
    font-size: 16px;
    margin-bottom: 5px;
}

.TextAnalyserCounter-value {
    color: black;
    font-size: 18px;
    font-weight: bold;
}